
body { background: transparent none repeat scroll center top; }
.wb_sbg { background: transparent none no-repeat scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 0px; }
.root { width: 320px; height: 1170px; overflow: hidden; min-height: 0px; }
#wb_element_instance53 .btn-collapser { display: inline-block; margin-top: 0.5px; background-color: #2053ba; border-color: #ffffff; }
#wb_element_instance53 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance53 .btn-collapser:hover { background-color: #ffffff; border-color: #000000; }
#wb_element_instance53 .btn-collapser:hover > .icon-bar { background-color: #000000; }
#wb_element_instance53 { left: 10px; top: 140px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; z-index: 156; }
#wb_element_instance53 ul { background: #2053ba none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance53 > ul { display: none; }
#wb_element_instance53.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance53.collapse-expanded > ul > li { display: block; }
#wb_element_instance53.collapse-expanded li > ul { position: static; }
#wb_element_instance53.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance53.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance53, #wb_element_instance53 ul { text-align: center; }
#wb_element_instance53 ul ul { background: transparent none repeat scroll left top; }
#wb_element_instance53 li { margin: 10px 10px 10px 10px; }
#wb_element_instance53 li a { text-transform: none; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance53 li.over > a, #wb_element_instance53 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance53 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance53:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance53:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance53:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance54 { left: 110px; top: 20px; min-width: 116px; width: 116px; min-height: 61px; height: 61px; display: block; z-index: 157; }
#wb_element_instance54 img { width: 116px; height: 61px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance55 p:last-child { margin-bottom: 0; }
#wb_element_instance55 { left: 77px; top: 90px; min-width: 180px; width: 180px; min-height: 24px; height: 24px; display: block; z-index: 158; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }
#wb_element_instance56 { left: 10px; top: 0px; min-width: 310px; width: 310px; min-height: 30px; height: 30px; display: block; z-index: 152; }
#wb_element_instance57 { left: 0px; top: 20px; display: block; z-index: 9000; }
#wb_element_instance58 { left: 0px; top: 54px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	body, .wb_sbg { min-width: 768px; min-height: 0px; }
	.root { width: 768px; height: 950px; overflow: visible; min-height: 0px; }
	#wb_element_instance53 { left: 10px; top: 130px; min-width: 740px; width: 740px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance53 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance53 .btn-collapser { display: none; }
	#wb_element_instance53 > ul { display: block; }
	#wb_element_instance54 { left: 330px; top: 10px; min-width: 116px; width: 116px; min-height: 61px; height: 61px; display: block; }
	#wb_element_instance54 img { width: 116px; height: 61px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance55 { left: 300px; top: 79px; min-width: 160px; width: 160px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance56 { left: 250px; top: 10px; min-width: 247px; width: 247px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance57 { left: 0px; top: 20px; display: block; }
	#wb_element_instance58 { left: 0px; top: 54px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 0px; }
	.root { width: 992px; height: 990px; overflow: visible; min-height: 0px; }
	#wb_element_instance53 { left: 340px; top: 110px; min-width: 638px; width: 638px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance53 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance53 .btn-collapser { display: none; }
	#wb_element_instance53 > ul { display: block; }
	#wb_element_instance54 { left: 60px; top: 50px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance54 img { width: 116px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance55 { left: 20px; top: 110px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance56 { left: 190px; top: 10px; min-width: 600px; width: 600px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance57 { left: 0px; top: 20px; display: block; }
	#wb_element_instance58 { left: 0px; top: 54px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 1200px; min-height: 0px; }
	.root { width: 1200px; height: 970px; overflow: visible; min-height: 0px; }
	#wb_element_instance53 { left: 550px; top: 100px; min-width: 640px; width: 640px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance53 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance53 .btn-collapser { display: none; }
	#wb_element_instance53 > ul { display: block; }
	#wb_element_instance54 { left: 60px; top: 40px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance54 img { width: 116px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance55 { left: 20px; top: 100px; min-width: 190px; width: 190px; min-height: 62px; height: 62px; display: block; }
	#wb_element_instance56 { left: 290px; top: 20px; min-width: 600px; width: 600px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance57 { left: 0px; top: 20px; display: block; }
	#wb_element_instance58 { left: 0px; top: 54px; display: block; }
}
