
#wb_header { background: transparent none no-repeat scroll center top; height: 210px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 1100px; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat-x scroll center top; height: 50px; }
body { background: #ffffff none repeat scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/bd2c9306a7c99732c0cc46bfcd4d7e08.png") repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 1360px; }
.root { width: 320px; height: 1360px; overflow: hidden; min-height: 1360px; }
#wb_element_instance22 .btn-collapser { display: inline-block; margin-top: 0.5px; background-color: #2053ba; border-color: #ffffff; }
#wb_element_instance22 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance22 .btn-collapser:hover { background-color: #ffffff; border-color: #000000; }
#wb_element_instance22 .btn-collapser:hover > .icon-bar { background-color: #000000; }
#wb_element_instance22 { left: 10px; top: 140px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; z-index: 156; }
#wb_element_instance22 ul { background: #2053ba none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance22 > ul { display: none; }
#wb_element_instance22.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance22.collapse-expanded > ul > li { display: block; }
#wb_element_instance22.collapse-expanded li > ul { position: static; }
#wb_element_instance22.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance22.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance22, #wb_element_instance22 ul { text-align: center; }
#wb_element_instance22 ul ul { background: transparent none repeat scroll left top; }
#wb_element_instance22 li { margin: 10px 10px 10px 10px; }
#wb_element_instance22 li a { text-transform: none; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance22 li.over > a, #wb_element_instance22 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance22 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance22:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance22:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance22:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance23 { left: 110px; top: 20px; min-width: 116px; width: 116px; min-height: 61px; height: 61px; display: block; z-index: 157; }
#wb_element_instance23 img { width: 116px; height: 61px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance24 p:last-child { margin-bottom: 0; }
#wb_element_instance24 { left: 77px; top: 90px; min-width: 180px; width: 180px; min-height: 24px; height: 24px; display: block; z-index: 158; }
#wb_element_instance25 p:last-child { margin-bottom: 0; }
#wb_element_instance25 { left: 10px; top: 0px; min-width: 310px; width: 310px; min-height: 30px; height: 30px; display: block; z-index: 152; }
#wb_element_instance26 p:last-child { margin-bottom: 0; }
#wb_element_instance26 { left: 10px; top: 20px; min-width: 300px; width: 300px; min-height: 548px; height: 548px; display: block; z-index: 50; }
#wb_element_instance27 { left: 10px; top: 590px; min-width: 160px; width: 160px; min-height: 80px; height: 80px; display: block; z-index: 51; }
#wb_element_instance27 img { width: 160px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance28 { left: 10px; top: 960px; min-width: 150px; width: 150px; min-height: 81px; height: 81px; display: block; z-index: 52; }
#wb_element_instance28 img { width: 150px; height: 81px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance29 { left: 190px; top: 950px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 53; }
#wb_element_instance29 img { width: 100px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance30 { left: 10px; top: 820px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; z-index: 54; }
#wb_element_instance30 img { width: 120px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance31 { left: 10px; top: 690px; min-width: 130px; width: 130px; min-height: 120px; height: 120px; display: block; z-index: 55; }
#wb_element_instance31 img { width: 130px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance32 { left: 140px; top: 720px; min-width: 170px; width: 170px; min-height: 50px; height: 50px; display: block; z-index: 56; }
#wb_element_instance32 img { width: 170px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance33 { left: 170px; top: 790px; min-width: 120px; width: 120px; min-height: 139px; height: 139px; display: block; z-index: 57; }
#wb_element_instance33 img { width: 120px; height: 139px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance34 { left: 190px; top: 590px; min-width: 100px; width: 100px; min-height: 119px; height: 119px; display: block; z-index: 58; }
#wb_element_instance34 img { width: 100px; height: 119px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance35 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 24px; height: 24px; display: none; z-index: 59; }
#wb_element_instance36 { left: 0px; top: 758px; display: block; z-index: 9000; }
#wb_element_instance37 { left: 0px; top: 54px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 210px; }
	#wb_main { height: 882px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 768px; min-height: 1142px; }
	.root { width: 768px; height: 1142px; overflow: visible; min-height: 1142px; }
	#wb_element_instance22 { left: 10px; top: 130px; min-width: 740px; width: 740px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance22 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance22 .btn-collapser { display: none; }
	#wb_element_instance22 > ul { display: block; }
	#wb_element_instance23 { left: 330px; top: 10px; min-width: 116px; width: 116px; min-height: 61px; height: 61px; display: block; }
	#wb_element_instance23 img { width: 116px; height: 61px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 300px; top: 79px; min-width: 160px; width: 160px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance25 { left: 250px; top: 10px; min-width: 247px; width: 247px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance26 { left: 20px; top: 20px; min-width: 360px; width: 360px; min-height: 471px; height: 471px; display: block; }
	#wb_element_instance27 { left: 400px; top: 60px; min-width: 211px; width: 211px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance27 img { width: 211px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { left: 540px; top: 340px; min-width: 150px; width: 150px; min-height: 81px; height: 81px; display: block; }
	#wb_element_instance28 img { width: 150px; height: 81px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance29 { left: 460px; top: 450px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance29 img { width: 100px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance30 { left: 600px; top: 190px; min-width: 150px; width: 150px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance30 img { width: 150px; height: 154px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance31 { left: 620px; top: 60px; min-width: 130px; width: 130px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance31 img { width: 130px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance32 { left: 420px; top: 180px; min-width: 180px; width: 180px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance32 img { width: 180px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance33 { left: 410px; top: 300px; min-width: 120px; width: 120px; min-height: 139px; height: 139px; display: block; }
	#wb_element_instance33 img { width: 120px; height: 139px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 590px; top: 440px; min-width: 100px; width: 100px; min-height: 119px; height: 119px; display: block; }
	#wb_element_instance34 img { width: 100px; height: 119px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 20px; top: 590px; min-width: 730px; width: 730px; min-height: 242px; height: 242px; display: block; }
	#wb_element_instance36 { left: 0px; top: 758px; display: block; }
	#wb_element_instance37 { left: 0px; top: 54px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 210px; }
	#wb_main { height: 788px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 1048px; }
	.root { width: 992px; height: 1048px; overflow: visible; min-height: 1048px; }
	#wb_element_instance22 { left: 340px; top: 110px; min-width: 638px; width: 638px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance22 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance22 .btn-collapser { display: none; }
	#wb_element_instance22 > ul { display: block; }
	#wb_element_instance23 { left: 60px; top: 50px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance23 img { width: 116px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 20px; top: 110px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 { left: 190px; top: 10px; min-width: 600px; width: 600px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance26 { left: 10px; top: 20px; min-width: 470px; width: 470px; min-height: 418px; height: 418px; display: block; }
	#wb_element_instance27 { left: 500px; top: 60px; min-width: 211px; width: 211px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance27 img { width: 211px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { left: 650px; top: 310px; min-width: 150px; width: 150px; min-height: 81px; height: 81px; display: block; }
	#wb_element_instance28 img { width: 150px; height: 81px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance29 { left: 670px; top: 410px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance29 img { width: 100px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance30 { left: 820px; top: 190px; min-width: 150px; width: 150px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance30 img { width: 150px; height: 154px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance31 { left: 760px; top: 60px; min-width: 130px; width: 130px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance31 img { width: 130px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance32 { left: 520px; top: 190px; min-width: 250px; width: 250px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance32 img { width: 250px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance33 { left: 510px; top: 300px; min-width: 120px; width: 120px; min-height: 139px; height: 139px; display: block; }
	#wb_element_instance33 img { width: 120px; height: 139px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 830px; top: 360px; min-width: 100px; width: 100px; min-height: 119px; height: 119px; display: block; }
	#wb_element_instance34 img { width: 100px; height: 119px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 10px; top: 540px; min-width: 970px; width: 970px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance36 { left: 0px; top: 758px; display: block; }
	#wb_element_instance37 { left: 0px; top: 54px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 210px; }
	#wb_main { height: 744px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1004px; }
	.root { width: 1200px; height: 1004px; overflow: visible; min-height: 1004px; }
	#wb_element_instance22 { left: 550px; top: 100px; min-width: 640px; width: 640px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance22 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance22 .btn-collapser { display: none; }
	#wb_element_instance22 > ul { display: block; }
	#wb_element_instance23 { left: 60px; top: 40px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance23 img { width: 116px; height: 52px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 20px; top: 100px; min-width: 190px; width: 190px; min-height: 62px; height: 62px; display: block; }
	#wb_element_instance25 { left: 290px; top: 20px; min-width: 600px; width: 600px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance26 { left: 10px; top: 20px; min-width: 620px; width: 620px; min-height: 363px; height: 363px; display: block; }
	#wb_element_instance27 { left: 670px; top: 60px; min-width: 211px; width: 211px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance27 img { width: 211px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { left: 820px; top: 310px; min-width: 150px; width: 150px; min-height: 81px; height: 81px; display: block; }
	#wb_element_instance28 img { width: 150px; height: 81px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance29 { left: 840px; top: 410px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance29 img { width: 100px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance30 { left: 990px; top: 190px; min-width: 150px; width: 150px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance30 img { width: 150px; height: 154px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance31 { left: 930px; top: 60px; min-width: 130px; width: 130px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance31 img { width: 130px; height: 120px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance32 { left: 690px; top: 190px; min-width: 250px; width: 250px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance32 img { width: 250px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance33 { left: 680px; top: 300px; min-width: 120px; width: 120px; min-height: 139px; height: 139px; display: block; }
	#wb_element_instance33 img { width: 120px; height: 139px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 1000px; top: 360px; min-width: 100px; width: 100px; min-height: 119px; height: 119px; display: block; }
	#wb_element_instance34 img { width: 100px; height: 119px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 10px; top: 540px; min-width: 1180px; width: 1180px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance36 { left: 0px; top: 758px; display: block; }
	#wb_element_instance37 { left: 0px; top: 54px; display: block; }
}
